html,
body {

    min-height: 100%;
    overflow-x: hidden;





}

.center {
    text-align: center;
}

.right {
    justify-content: flex-end;
    text-align: right;
}



.custom-nav {
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

.content {
    margin-top: 50px
}

 h1.title {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 3.5em;
    font-family: 'Alegreya', serif;
    font-style: italic;




}

.title svg {

    padding-top: 20px;
    padding-bottom: 20px;

}



a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

a:hover {
    text-decoration: none;
    font-weight: 500;
}

figcaption {
    color: #600e8f;
    font-weight: 700;
}



.list-group-item:hover {
    cursor: pointer;
}

.comments-box {
    font-style: italic
}

.modal {
    background: #8E2DE2;
}

hr {
    color: #d9a3f7;
    background-color: #d9a3f7;

}

.article::first-letter {
    font-size: 2.5em;
    color: purple
}



.text-sidebar-title {
    font-size: 1.6em
}

.dark-blue:hover {
    background-color: darkblue;
    color: white;
}

.light-blue:hover {
    background-color: lightskyblue;
    color: black;
}

.green:hover {
    background-color: green;
    color: white;
}

.main-header {

  background-color: white;
  color: black;
  display: inline-block;
  width: 100vw;
  margin: 0 auto;
  background: url('../img/bg.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-bottom: 100px;



    box-shadow:inset 0 0 0 2000px rgba(96, 149, 245, 0.4);

}

svg {
    width: 1.5em;
    height: 1.5em;
}



.card {
    margin-right: 10px;
    border-radius: 20px;




}
p.subtitle {
  font-family: 'Balsamiq Sans', cursive;
}
.form {
  text-align: center;
  justify-content: center;
  align-items: center;
}
